body {
  text-align: center;
}

#choices,
#messages,
#records {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#choices {
  border-bottom: 1px solid black;
}

#choice {
  height: auto;
  width: 90px;
  display: inline-block;
  border: 1px solid black;
}

#choice img {
  height: 70px;
  width: 70px;
  padding: 5px;
}

#choice input {
    margin:5px 0px;
}

td {
  text-align: center;
}
